body {
    background: #A3E2FA;
    font-family: "Helvetica";
    font-size: 1vw;
    margin-top: 100px;
}
#background {
    position: fixed;
    top: 0;
    left: 2%;
    width: 20%;
    height: 100%;
    background-color: skyblue; 
}

h1 {
    color: navy;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 50px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

#rightProp{
	margin-left: 25%;
}

#scalableFont{
	font-size: 1.5vw 1vh
}

div.img{
	margin-left: 0%;
}
div.img:hover {
    border: 1px solid #777;
}
div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }